* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
h1,
 h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0;
}
li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
#categories {
  padding: 16px;
}
.item {
  background: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}
.item > h2 {
  margin-bottom: 16px;
}
.item > ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item > ul > li {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
}
form>label>input {
  margin: 8px 0;
}

.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background: #4e75ff;
}

button:hover {
  background: #6c8cff;
}
input {
  padding: 8px 16px;
  width: 360px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;

  border: 1px solid #808080;
  border-radius: 4px;
}

input::placeholder {
  color: #2e2f42;
}

input:focus {
  outline: none;
}

label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

button {
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  padding: 100px 156px;
}
.gallery-item {
  max-width: calc((100% - 2 * 24px) / 3);

}
.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

button,
input {
  display: block;
  cursor: pointer;
}